/*body{*/
    /*text-align:center;*/
/*}*/

.content {
    width: 1100px;
    margin: 70px auto 0;
    padding: 0 50px 20px 50px;
	border: 3px solid #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #9bb5c4 inset;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #dadbdc inset;
}
body{
    margin: 0;
    padding: 0;
}

#top-image {
    background: linear-gradient(
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2)
    ), url('../images/sky.jpg') no-repeat fixed;
    position:fixed ;
    top:0;
    width:100%;
    z-index:0;
    height:100%;
}

#content {
    transform: translateY(-50%);
    top: 30%;
    position: relative;
    margin-top: 110px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    box-shadow: 0px 0px 10px #dadbdc inset;
    color: black;
}

.jumbotron {
    background-color: transparent !important;
    /* text-shadow: 0 1px 2px rgba(0,0,0,0.34); */
}

p {
	display: block;
	/* color: black; */
    font-family: "Microsoft YaHei";
	font-size: 19px;
	line-height: 1.72222;
	margin: 0 0 20px;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}
.headline {
    text-align: center;
    color: #335a9a !important;
    font-size: 50px;
    font-family: "Microsoft YaHei";
}
.btn-get-started {
    font-family: "Microsoft YaHei";
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 32px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    color: #fff;
    background: #18d26e;

}
.btn-get-started:hover {
    background: #fff;
    color: #18d26e;
}
.link {
    font-size: 20px;
    text-align: center;
}
.c1:after{content:"*";color:red}
.c2:after{content:"!";width:20px;height:20px;border-radius:100%;color:#fff;background:red;}
.c3{border:1px solid red;}
/*这里有三个class*/
/*你在要显示红色* 的时候，用c1*/
/*要显示右边！时用c2*/
/*要显示红色边框时用c3*/
/*addClass(类名)    增加class*/
/*removeClass(类名)  移出class*/