body{
    text-align:center;
}
.headline {
	color: #1abc9c;
    margin-bottom: 5px;
    padding: 40px 0;
    text-align: center;
    word-wrap: break-word;
    margin-top: 2px;
}
.loginContent{
    width:900px;
    margin: 0 auto;
    padding: 0 50px 20px 50px;
    border: 3px solid #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #9bb5c4 inset;
    box-sizing: border-box;
}

.info {
    color: red;
}