body {
    font-size: 20px;
}
.content{
    width: 800px;
    margin: 30px auto;
    padding: 20px;
    border: 3px solid #fff;
    border-radius: 10px;
    rox-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #dadbdc inset;
}
.headline {
    font-size: 30px;
    padding: 0px;
}
img{
    display: inline-block;
    padding: 0px;
}